/* GRID SETUP */
main {
    display: grid;
    grid-template-areas:
        'header header header header'
        'subheader subheader subheader subheader'
        'main main main image'
        'main main main image';
    margin: 0 50px;
    text-align: center;
}
h1 {
    grid-area: header;
    margin-top: 25px;
}
.subheader {
    grid-area: subheader;
}
.topic {
    grid-area: main;
    text-align: left;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}
img {
    grid-area: image;
    height: 84%;
    margin-left: 25px;
}
.link {
    grid-area: button;
}

/* BUTTON */
main button {
    width: 50%;
    padding: 30px 4px;
    border-radius: 60px;
    font-size: 36px;
    background-color: var(--dark_Blue);
    margin-top: 25px;
    border: solid 2px var(--dark_Mode);
}
button a {
    text-decoration: none;
    color: #7BFFE9;
}
.darkMode button{
    --dark_Mode: #7BFFE9;
    --light_Mode: #2A3B49;
}
