.gallery, .buttons {
  text-align: center;
}

#title {
  font-size: 30px;
}

#photographer {
  font-size: 25px;
}

#image {
  width: 1000px;
  height: 475px;
}

.gallery, #photographer, #image {
  margin-top: 20px;
}

.buttons button {
  margin: 10px;
}

#previous, #next {
  width: 130px;
  padding: 5px 5px;
  border-radius: 60px;
  font-size: 20px;
  color: #7BFFE9;
  background-color: var(--dark_Blue);
  margin-top: 25px;
  border: solid 2px var(--dark_Mode);
}

.darkMode #previous, .darkMode #next{
  --dark_Mode: #7BFFE9;
  --light_Mode: #2A3B49;
}