@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --dark_Blue: #2A3B49;
    --Neon_Blue: #7BFFE9;
    --gray: #D9D9D9;
    font-family: 'Montserrat', sans-serif;
}

p, h1, h2, h3 {
    color: var(--dark_Mode)
}

body {
    background-color: var(--light_Mode);
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.darkMode {
    --dark_Mode: #FFFFFF;
    --light_Mode: #2A3B49;
}

nav, #bubble {
    display: flex;
    background-color: var(--dark_Blue);
    color: var(--Neon_Blue);
    align-items: center;
}

nav {
    justify-content: space-between;
    padding: .5% 2%;
}

.rightNav  {
    display: flex;
    align-items: center;
    column-gap: 20px;
    color: white;
    font-size: 16px;
}

.rightNav a, .leftNav a {
    text-decoration: none;
    color: white;
}

.leftNav a {
    font-size: 36px;
    color: var(--Neon_Blue);
}

.darkModeButton {
    color: var(--Neon_Blue);
    border: none;
    background-color: var(--dark_Blue);
    font-size: 16px;
    padding-left: 40px;
    font-family: 'Montserrat';
}